<!-- [tattoParadise] -->
<a class="cardProject" href="tattooParadise.html" target="_blank">
  <div class="cardProjectImageContainer">
    <img src="assets/images/projects/tattooParadise/headerImage.webp" alt="imageContainer">
  </div>
  <div class="frameFlexColumnSmall">
    <div class="frameFlexColumnTiny">
      <p class="large">Tattoo paradise</p>
      <p class="small" data-key="cardProjectTattooParadiseTime"></p>
    </div>
    <p class="regular" data-key="cardProjectTattooParadiseDescription"></p>
  </div>  
  <i class="fa-solid fa-arrow-right iconMedium"></i>
</a>