<!-- [portfolio] -->
<a class="cardProject" href="portfolio.html">
  <div class="cardProjectImageContainer">
    <img src="assets/images/projects/portfolio/headerImage.webp" alt="imageContainer">
  </div>
  <div class="frameFlexColumnSmall">
    <div class="frameFlexColumnTiny">
      <p class="large">Portfolio</p>
      <p class="small" data-key="cardProjectPortfolioTime"></p>
    </div>
    <p class="regular" data-key="cardProjectPortfolioDescription"></p>
  </div>
  <div class="frameFlexSmall">
    <div class="tag">
      <p class="regular" data-key="cardProjectPortfolioTag1"></p>
    </div>
  </div>
  <i class="fa-solid fa-arrow-right iconMedium"></i>
</a>