<!-- [senzoStudio] -->
<a class="cardProject" href="senzoStudio.html" target="_blank">
  <div class="cardProjectImageContainer">
    <img src="assets/images/projects/senzoStudio/headerImage.webp" alt="imageContainer">
  </div>
  <div class="frameFlexColumnSmall">
    <div class="frameFlexColumnTiny">
      <p class="large">Senzo studio</p>
      <p class="small" data-key="cardProjectSenzoStudioTime"></p>
    </div>
    <p class="regular" data-key="cardProjectSenzoStudioDescription"></p>
  </div>  
  <i class="fa-solid fa-arrow-right iconMedium"></i>
</a>