<!-- [geomites] -->
<a class="cardProject" href="geomites.html" target="_blank">
  <div class="cardProjectImageContainer">
    <img src="assets/images/projects/geomites/headerImage.webp" alt="imageContainer">
  </div>
  <div class="frameFlexColumnSmall">
    <div class="frameFlexColumnTiny">
      <p class="large">Geomites</p>
      <p class="small" data-key="cardProjectGeomitesTime"></p>
    </div>
    <p class="regular" data-key="cardProjectGeomitesDescription"></p>
  </div>  
  <i class="fa-solid fa-arrow-right iconMedium"></i>
</a>