 <!-- [footer] -->
 <footer>
  
  <div class="frameFlexSmall">
    <a href="index.html" alt="logoAlejandro" id="logoLink" viewBox="0 0 24 24">
      <svg class="logo imageExtraLarge" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M5.86048 20.6292L15.0291 2.83789H16.2875L32.0001 30.7269H24.5213L16.4673 16.5975H15.2089L13.7347 20.6292H5.86048ZM3.63149 24.439H16.144L20.0631 30.8379H0L3.63149 24.439Z" />
      </svg>
    </a>    
    <div class="frameFlexMedium">
      <a href="https://wa.me/34618110583" class="buttonIcon" target="_blank"><i
          class="fa-brands fa-whatsapp iconMedium"></i></a>
      <a href="https://www.linkedin.com/in/alejandromorenoproductdesigner/" class="buttonIcon" target="_blank"><i
          class="fa-brands fa-linkedin iconMedium"></i></a>
      <a href="https://github.com/kakomoma" class="buttonIcon" target="_blank"><i
          class="fa-brands fa-github iconMedium"></i></a>
      <a href="mailto:alejandromorenomartin199@gmail.com" class="buttonIcon" target="_blank"><i
          class="fa-solid fa-envelope iconMedium"></i></a>
    </div>
  </div>
  <p class="regular" data-key="footerText"></p>        
</footer>