<!-- [footer] -->
<footer>
  <a href="index.html" alt="logoAlejandro" id="logoLink" viewBox="0 0 24 24" class="imageLarge">
    <svg xmlns="http://www.w3.org/2000/svg">
      <path d="M16.144 24.1011H3.63149L0 30.5H20.0631L16.144 24.1011Z" fill="var(--primary-500)" />
      <path d="M15.029 2.5L5.86035 20.2913H13.7346L15.2087 16.2596H16.4672L24.5212 30.389H31.9999L16.2874 2.5H15.029Z"
        fill="var(--neutral-100)" />
    </svg>
  </a>
  <div class="frameFlexMedium">
    <a href="https://wa.me/34618110583" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-whatsapp iconMedium"></i></a>
    <a href="https://www.linkedin.com/in/alejandromorenoproductdesigner/" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-linkedin iconMedium"></i></a>
    <a href="https://github.com/kakomoma" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-github iconMedium"></i></a>
    <a href="mailto:alejandromorenomartin199@gmail.com" class="buttonIcon" target="_blank"><i
        class="fa-solid fa-envelope iconMedium"></i></a>
  </div>
  <p class="regular" data-key="footerText"></p>

</footer>