<!-- [navBar] -->
<header class="navBar">

  <a href="index.html" alt="logoAlejandro" id="logoLink" viewBox="0 0 24 24" class="logo">

    <img src="/assets/icons/navigation/favicon.webp" alt="logo">

  </a>

  <div class="frameFlexSmall">
    <a href="https://wa.me/34618110583" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-whatsapp iconMedium"></i></a>
    <a href="https://www.linkedin.com/in/alejandromorenoproductdesigner/" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-linkedin iconMedium"></i></a>
    <a href="https://github.com/kakomoma" class="buttonIcon" target="_blank"><i
        class="fa-brands fa-github iconMedium"></i></a>
    <a href="mailto:alejandromorenomartin199@gmail.com" class="buttonIcon" target="_blank"><i
        class="fa-solid fa-envelope iconMedium"></i></a>
  </div>

</header>