<!-- [navBar] -->
<header class="navBar">

  <a href="index.html" alt="logoAlejandro" id="logoLink" viewBox="0 0 24 24" class="logo">

    <img src="/assets/icons/navigation/favicon.webp" alt="logo">

  </a>

  <nav class="mobileNavigation" id="primaryNavigation">

    <ul aria-label="Primary" role="list" class=" navBarNavigation">

      <div class="frameFlexColumnMedium">
        <h4 data-key="navigationTitle"></h4>
      </div>
      <div class="frameFlexColumnMedium">
        <p class="large" data-key="navigationSubtitle1"></p>
        <div class="frameFlexColumnSmall">
          <a href="index.html" class="page regular" data-key="navigationPage1"></a>
          <a href="projects.html" class="page regular" data-key="navigationPage2"></a>
          <a href="resume.html" class="page regular" data-key="navigationPage3"></a>
        </div>
      </div>
      <div class="frameFlexColumnMedium">
        <p class="large" data-key="navigationSubtitle2"></p>
        <div class="frameFlexSmall switcherContainer" id="languageSwitcherContainer">
          <input type="checkbox" id="languageSwitch">
          <label for="languageSwitch" data-state="en" data-key="languageSwitch1" class="regular"></label>
          <label for="languageSwitch" data-state="es" data-key="languageSwitch2" class="regular"></label>
        </div>
      </div>
      <div class="frameFlexColumnMedium">
        <p class="large" data-key="navigationSubtitle3"></p>
        <div class="frameFelxSmall switcherContainer" id="themeSwitcherContainer">
          <input type="checkbox" id="themeSwitch">
          <label for="themeSwitch" data-state="light" data-key="themeSwitch1" class="regular"></label>
          <label for="themeSwitch" data-state="dark" data-key="themeSwitch2" class="regular"></label>
        </div>
      </div>
      <div class="frameFlexSmall">
        <i class="fa-regular fa-copyright iconTiny"></i>
        <p class="regular" data-key="footerText2"></p>
      </div>
    </ul>
  </nav>

  <button class="mobileNavToggle" aria-controls="primaryNavigation" aria-expanded="false">
    <svg class="hambuger" viewbox="0 0 100 100" width="36">
      <rect class="hamburgerLine topLine" width="80" height="10" x="10" y="25" rx="5"></rect>
      <rect class="hamburgerLine middleLine" width="80" height="10" x="10" y="45" rx="5"></rect>
      <rect class="hamburgerLine bottomLine" width="80" height="10" x="10" y="65" rx="5"></rect>
    </svg>
  </button>
</header>