
<div class="tableOfContent">
  <p data-key="TOCTitle" class="small"></p>
  <div class="TOCContent">
    <a href="#Section1" data-key="differentBusinessModelsTOC1" class="regular"></a>
    <a href="#Section2" data-key="differentBusinessModelsTOC2" class="regular"></a>
    <a href="#Section3" data-key="differentBusinessModelsTOC3" class="regular"></a>
    <a href="#Section4" data-key="differentBusinessModelsTOC4" class="regular"></a>
    <a href="#Section5" data-key="differentBusinessModelsTOC5" class="regular"></a>
  </div>
</div>

