/* ----- FRAMES ----- */

/* ---------- */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: top;
  justify-content: center;
  gap: 96px;
}

@media (max-width: 1200px) {
  .main {
    justify-content: left;
    gap: 48px;
  }
}



/* ---------- */

.mainTwo {}

/* ---------- */

.mainSections {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: top;
  justify-content: center;
  gap: 192px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .mainSections {
    padding: 0px 12px 0px 12px;
    gap: 96px;
    width: 100%;
  }
}

/* ---------- */

.mainHero {
  height: calc(100svh - 80px);
  align-items: center;
}

@media (max-width: 1200px) {
  .mainHero {
    height: calc(100svh - 104px);
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    justify-content: space-between;
  }
}

/* ---------- */

.frameFlexAuto {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.frameFlexTiny {
  display: flex;
  gap: 0rem;
}

.frameFlexSmall {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 1200px) {
  .frameFlexSmall {
    gap: 0.25rem;
  }
}

.frameFlexMedium {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .frameFlexMedium {
    gap: 0.5rem;
  }
}

.frameFlexLarge {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .frameFlexLarge {
    gap: 1rem;
  }
}

.frameFlexExtraLarge {
  display: flex;
  gap: 4rem;
}

@media (max-width: 1200px) {
  .frameFlexExtraLarge {
    gap: 2rem;
  }
}

.frameFlexMassive {
  display: flex;
  gap: 8rem;
}

@media (max-width: 1200px) {
  .frameFlexMassive {
    gap: 4rem;
  }
}

.frameFlexColossal {
  display: flex;
  gap: 16rem;
}

@media (max-width: 1200px) {
  .frameFlexColossal {
    gap: 8rem;
  }
}

/* ---------- */

.frameFlexColumnAuto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  flex: 1;
}

.frameFlexColumnTiny {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  flex: 1;
}

.frameFlexColumnSmall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnSmall {
    gap: 0.25rem;
  }
}

.frameFlexColumnMedium {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnMedium {
    gap: 0.5rem;
  }
}

.frameFlexColumnLarge {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnLarge {
    gap: 1rem;
  }
}

.frameFlexColumnExtraLarge {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnExtraLarge {
    gap: 2rem;
  }
}

.frameFlexColumnMassive {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnMassive {
    gap: 4rem;
  }
}

.frameFlexColumnColossal {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexColumnColossal {
    gap: 8rem;
  }
}

/* ---------- */

.frameFlexWrap {
  flex-wrap: wrap;
}

/* ---------- */

.gridThree {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {

  .gridThree,
  .gridFive {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* ---------- */

.gridFour {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width:1200px) {
  .gridFour {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ---------- */

.gridFive {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

/* ----- BUTTONS ----- */

#progressButton {
  position: fixed;
  background: var(--neutral-1000);
  z-index: 100;
  bottom: 5%;
  right: 5%;
  width: 48px;
  height: 48px;
  display: none;
  place-items: center;
  border-radius: 50%;
  color: var(--neutral-200);
  cursor: pointer;
}

#progressValue {
  display: grid;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  background: var(--neutral-1000);
  border-radius: 50%;
  color: var(--regular-400);
  place-items: center;
  font-size: 1.5rem;
}

#progressValue:hover {
  background: var(--neutral-900);
}

/* ---------- */

.buttonPrimary {
  display: flex;
  padding: 8px 16px;
  border-radius: var(--br-8);
  background: var(--primary-400);
  width: 148px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all .3s cubic-bezier(.62, -1.12, .53, 1.92);
}

.buttonPrimary p {
  color: var(--primary-1000);
}

.buttonPrimary:hover {
  background: var(--primary-200);
  transform: translateY(-10%);
}

/* ---------- */

.buttonSecondary {
  display: flex;
  padding: 8px 16px;
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-800);
  background: var(--neutral-1000);
  width: 148px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all .3s cubic-bezier(.62, -1.12, .53, 1.92);
}

.buttonSecondary:hover {
  background: var(--neutral-900);
  transform: translateY(-10%);
}

/* ---------- */

.buttonTerciary {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  border-radius: var(--br-8);
  background: var(--neutral-1000);
  width: fit-content;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.buttonTerciary:hover {
  background: var(--neutral-900);
}

/* ---------- */

.link {
  width: fit-content;
  background-image: linear-gradient(90deg, var(--primary-400), var(--primary-600));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left 1.4em;
  transition: background-size 0.2s;
}

.link:hover,
.link:focus {
  background-size: 100% 2px;
}

.link p {
  color: var(--primary-400);
}

/* ----- TAGS ----- */

.tagPosition {
  display: flex;
  border-radius: var(--br-8);
  border: 0.5px solid var(--primary-400);
  padding: 4px 8px;
  background: var(--primary-800);
  color: var(--primary-400);
  width: fit-content;
}

.tagPosition p {
  font-family: var(--font-family-2);
}

@media (max-width: 1200px) {

  .tagPosition,
  .tag,
  .tagNew {
    padding: 2px 4px;
  }
}

.tag {
  display: flex;
  border-radius: var(--br-8);
  padding: 4px 8px;
  background: var(--neutral-700);
  width: fit-content;
}

.tag p {
  color: var(--neutral-200);
}

.tagNew {
  display: flex;
  border-radius: var(--br-8);
  padding: 4px 8px;
  background: var(--primary-800);
  width: fit-content;
}

.tagNew p {
  color: var(--primary-400);
}

/* ----- TABLE OF CONTENT ----- */



/* ----- TEXT FIELDS ----- */



/* ----- CARDS ----- */
.cardProject {
  display: Flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-800);
  background: var(--neutral-1000);
  cursor: pointer;
}

.cardProject:hover,
.cardReading:hover {
  background: var(--neutral-900);
}

@media (max-width: 1200px) {

  .cardProject,
  .cardTextIcon,
  .cardTestimonial,
  .cardReading {
    gap: 8px;
    padding: 8px;
  }
}

.cardProjectImageContainer {
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-800);
  overflow: hidden;
}

.cardProjectImageContainer .cardProjectImage {
  border-radius: var(--br-8);
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 0.2s transform ease-in-out;
}

.cardProject:hover .cardProjectImageContainer .cardProjectImage {
  transform: scale(1.05);
}

/* ---------- */

.cardTextICon {
  display: flex;
  padding: 16px;
  background: var(--neutral-1000);
  border: 1px solid var(--neutral-800);
  border-radius: var(--br-8);
  gap: 16px;
  align-items: center;
}

/* ---------- */

.cardTestimonial {
  display: Flex;
  gap: 16px;
  padding: 16px;
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-800);
  background: var(--neutral-1000);
}

.cardTestimonial img {
  width: 48px;
  height: 48px;
  border: 0.5px solid var(--neutral-800);
  border-radius: 100%;
}

.cardTestimonial:first-child {
  grid-column: span 2;
}

/* ---------- */

.cardReading {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-800);
  background: var(--neutral-1000);
  cursor: pointer;
}

.cardReadingImageContainer {
  width: auto;
  height: 124px;
  border-radius: var(--br-8);
  border: 0.5px solid var(--neutral-100);
  overflow: hidden;
}

.cardReadingImageContainer .cardReadingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--br-8);
  transition: 0.2s transform ease-in-out;
}

.cardReading:hover .cardReadingImageContainer .cardReadingImage {
  transform: scale(1.1);
}


/* ----- NAVIGATION ----- */

.navBar {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 16px calc((100% - 1200px) / 2);
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--neutral-800);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--neutral-1000);
  z-index: 99;
  top: 0;
}

@media (max-width: 1200px) {

  .navBar {
    padding: 8px 16px;
  }

}

.navBarFrame {
  display: flex;
  flex: 1;
}

.navBarFrame:nth-child(1) {
  /* Logo */
  justify-content: flex-start;
}

.navBarFrame:nth-child(2) {
  /* Navegación */
  justify-content: flex-end;
}

@media (max-width: 1200px) {

  .navBarFrame:nth-child(2),
  .navBarFrame:nth-child(3),
  .navBarFrame:nth-child(4) {
    display: none;
  }
}

.navBarFrame:nth-child(3) {
  /* navBarLinks */
  justify-content: flex-end;
}

.navBarFrame:nth-child(4) {
  /* Switchers */
  justify-content: flex-end;
}

.navBarNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.navBarFrameLink {
  display: flex;
  width: 136px;
  padding: 8px 16px;
  border-radius: var(--br-8);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navBarFrameLink:hover {
  background: var(--neutral-900);
}

.navBarFrameLink.active {
  border: solid var(--neutral-800) 0.5px;
}

.navBarFrameLink.active p {
  color: var(--primary-400);
  font-weight: 700;
}

.menuButton {
  display: none;
}

@media (max-width: 1200px) {
  .menuButton {
    display: block;
  }
}

/* ---------- */

.sideBar {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100svh;
  justify-content: space-between;
  background: var(--neutral-1000);
  z-index: 10000;
  position: relative;
}

.sideBarHeader {
  display: flex;
  padding: 8px 16px;
  border-radius: 0px 0px 8px 8px;
  border-bottom: 0.5px solid var(--neutral-800);
  align-items: center;
  justify-content: space-between;
}

.sideBarBody {
  display: flex;
  flex-direction: column;  
  padding: 48px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sideBarBody img {
  width: 124px;
  height: 124px;
}

.sideBarFrameLink {
  display: flex;
  padding: 4px 8px;
  gap: 8px;
  align-items: center;
  border-radius: var(--br-8);
}

.sideBarFrameLink:hover {
  background: var(--neutral-800);
}

.sideBarFrameLink.active {
  border: solid var(--neutral-800) 0.5px;
}

.sideBarFrameLink.active p {
  color: var(--primary-400);
  font-weight: 700;
}

/* ---------- */

.switcher {
  display: flex;
  gap: 8px;
  cursor: pointer;
  z-index: 99;
}

input {
  -webkit-appearance: none;
  outline: none;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: var(--br-8);
  transition: background-image 0.6s;
}

input:hover {
  background: var(--neutral-900);
}

input.themeSwitcher {
  position: relative;
}

input.languageSwitcher:before {
  content: "En";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-200);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s;
  font-family: 'Montserrat';
}

input.languageSwitcher:checked:before {
  content: "Es";
}

input.themeSwitcher:after {
  content: "\f185";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--neutral-200);
  font-size: 24px;
  transition: all 0.6s;
}

input.themeSwitcher:checked:after {
  content: "\f186";
  color: var(--neutral-200);
  transform: translate(-50%, -50%) scaleX(100%) rotate(360deg);
}

/* ---------- */

footer {
  display: flex;
  flex-direction: column;
}

.footerFrame {
  display: flex;
  padding: 32px 0px;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .footerFrame {
    display: flex;
    gap: 16px;
  }
}

.footerFrame:nth-child(1) {
  border-bottom: 0.5px solid var(--neutral-800);
  border-radius: 0px 0px 8px 8px;
}

.footerFrame:nth-child(2) {
  border-bottom: 0.5px solid var(--neutral-800);
  border-radius: 0px 0px 8px 8px;
}

.footerFrame:nth-of-type(3) {
  justify-content: space-between;
  padding: 64px calc((100% - 1200px) / 2) 128px calc((100% - 1200px) / 2);
}

@media (max-width: 1200px) {
  .footerFrame:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
  }
}

.footerFrame:nth-of-type(3)>* {
  flex: 1;
  text-align: center;
}

.footerFrame:nth-of-type(3)> :first-child {
  text-align: left;
}

.footerFrame:nth-of-type(3)> :last-child {
  justify-content: right;
}


.footerFrame:nth-of-type(3)> :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- HEADER ----- */

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sectionHeaderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionHeaderText {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px 0px 0px 4px;
  border-left: 4px solid var(--primary-400);
  width: 100%;
}

@media (max-width: 1200px) {
  .section-header {
    gap: 12px;
  }

  .sectionHeaderTitle {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .sectionHeaderText {
    display: flex;
    padding: 12.5px 25px;
    align-items: center;
    align-self: stretch;
    border-radius: 4px 0px 0px 4px;
    border-left: 5px solid var(--primary-500);
    width: 100%;
  }
}

/* ----- TABLE ----- */

.table-wrapper {
  width: 100%;
  margin-inline: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  text-transform: uppercase;
}

tr:first-child {
  background: var(--gray-800);
}

tr {
  background: var(--gray-900);
}

tr td {
  border-bottom: var(--bw-0) solid var(--neutral-500);
}

.table-point__green {
  width: 12px;
  height: 12px;
  background-color: var(--green-500);
  border-radius: 50%;
}

.table-point__yellow {
  width: 12px;
  height: 12px;
  background-color: var(--yellow-500);
  border-radius: 50%;
}

.table-point__red {
  width: 12px;
  height: 12px;
  background-color: var(--red-500);
  border-radius: 50%;
}

@media (max-width: 1200px) {

  th {
    display: none;
  }

  td {
    display: grid;
    grid-template-columns: 15ch auto;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    align-items: start;
  }

  td:first-child {
    padding-top: 1.5rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

@media (min-width: 1200px) {

  .table-wrapper__usability tr th:last-child,
  .table-wrapper__usability tr td:last-child {
    width: 40%;
  }
}

/* ----- SCROLLER ----- */

.scroller {
  max-width: 1200px;
}

.scrollerInner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scrollerInner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 240s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* ----- SCROLLBAR ----- */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-1000);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-500);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-700);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--neutral-200) var(--neutral-1000);
    scrollbar-width: thin;
  }
}

/* ----- SELECTION ----- */

::selection {
  background-color: var(--primary-500);
  color: var(--primary-1000);
}

/* ----- IMAGES ----- */

.logo {
  width: 48px;
  height: 48px;
  fill: var(--primary-400);
  transition: fill 0.3s ease;
}

.logo:hover {
  fill: var(--primary-200);
}

.mainHeroImage {
  max-width: 30%;
  height: auto;
}

@media (max-width: 1200px) {
  .mainHeroImage {
    max-width: 75%;
  }
}

/* ---------- */

.svgAnimation circle {
  fill: none;
  stroke: var(--primary-400);
  stroke-width: 4px;
  stroke-dasharray: 0 1000;
  animation: draw 20s linear infinite alternate;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 5;
  }

  100% {
    stroke-dasharray: 5 5;
  }
}

/* ----- ICONS ----- */

.copyright {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    height: 20px;
    width: 20px;
  }
}

.imageDefault {
  width: 48px;
  height: 48px;
}

@media (max-width: 1200px) {
  .imageDefault {
    width: 36px;
    height: 36px;
  }
}

.buttonIcon {
  padding: 8px;
  border-radius: var(--br-8);
  width: fit-content;
  margin-top: auto;
}

.buttonIcon:hover {
  background: var(--neutral-900);
}

.iconLarge {
  font-size: 48px;
}

@media (max-width: 1200px) {
  .iconLarge {
    font-size: 32px;
  }
}

.iconDefault {
  font-size: 48px;
}

@media (max-width: 1200px) {
  .iconDefault {
    font-size: 20px;
  }
}