/* ----- FRAMES ----- */

/* ---------- */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: top;
  justify-content: center;
  gap: 124px;
}

@media (max-width: 1200px) {
  .main {
    justify-content: left;
    gap: 96px;
  }
}

/* ---------- */

.mainTwo {
  display: flex;
  flex-direction: column;
  width: min(90%, 1200px);
  align-items: top;
  justify-content: left;
  gap: 64px;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .mainTwo {
    gap: 32px;
  }
}

@media (max-width: 480px) {
  .mainTwo {
    gap: 32px;
  }
}

/* ---------- */

.mainSections {
  display: flex;
  flex-direction: column;
  width: min(90%, 1200px);
  align-items: top;
  justify-content: center;
  gap: 192px;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .mainSections {
    gap: 124px;
  }
}

/* ---------- */

.mainHero {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-start;
  height: calc(100svh - 296px);
}

.mainHeroTitle {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .mainHero {
    height: calc(100svh - 124px);
    display: flex;
    flex-direction: column;
    margin-bottom: 5svh;
  }

  .mainHero .frameFlexColumnAuto {
    height: 100%;
  }
}

/* ---------- */

.frameFlexAuto {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.frameFlexTiny {
  display: flex;
  gap: 0rem;
  align-items: center;
}

.frameFlexSmall {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.frameFlexMedium {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.frameFlexLarge {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.frameFlexExtraLarge {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.frameFlexMassive {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.frameFlexColossal {
  display: flex;
  gap: 16rem;
  align-items: center;
}

.frameFlexDynamic {
  display: flex;
  gap: 1rem;
}

.frameFlexDynamic>* {
  flex: 1;
}

@media (max-width: 1200px) {
  .frameFlexDynamic {
    flex-direction: column;
  }
}

/* ---------- */

.frameFlexColumnAuto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.frameFlexColumnTiny {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  flex: 1;
}

.frameFlexColumnTinyCenter {
  align-items: center;
  width: 100%;
}

.frameFlexColumnSmall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  width: 100%;
}

.frameFlexColumnMedium {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  width: 100%;
}

.frameFlexColumnLarge {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  width: 100%;
}

.frameFlexColumnExtraLarge {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  width: 100%;
}

.frameFlexColumnMassive {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 1;
  width: 100%;
}

.frameFlexColumnColossal {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  flex: 1;
  width: 100%;
}

@media (max-width: 1200px) {
  .frameFlexColumnSmall {
    gap: 0.25rem;
  }

  .frameFlexColumnMedium {
    gap: 0.5rem;
  }

  .frameFlexColumnLarge {
    gap: 1rem;
  }

  .frameFlexColumnExtraLarge {
    gap: 2rem;
  }

  .frameFlexColumnMassive {
    gap: 4rem;
  }

  .frameFlexColumnColossal {
    gap: 8rem;
  }
}

/* ---------- */

.someDesignsFrame {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .someDesignsFrame {
    flex-direction: column;
  }

  .columnReverse {
    flex-direction: column-reverse;
  }

}

/* ---------- */

.gridTwo {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(424px, 100%), 1fr));
  grid-auto-rows: 1fr;
}

/* ---------- */

.gridAutoOne {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(154px, 100%), 1fr));
  grid-auto-rows: 1fr;
}

/* ---------- */

.gridAutoTwo {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(96px, 100%), 1fr));
  grid-auto-rows: 1fr;
}

/* ---------- */

.gridFiveFour {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;   
}

/* ---------- */



/* ---------- */

.gridTwoAuto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}


/* ---------- */

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}

.gridThree {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
}

/* ---------- */

.gridThreeOverFlow {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
}

@media (max-width: 1200px) {
  .gridThreeOverFlow {
    grid-template-columns: none;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-auto-columns: 80%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .gridThreeOverFlow>* {
    scroll-snap-align: start;
  }
}

/* ---------- */

.gridFour {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(288px, 100%), 1fr));
}

@media (max-width: 1200px) {
  .gridFourOverFlow {
    grid-template-columns: none;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-auto-columns: 90%;
    scroll-snap-type: x mandatory;
  }

  .gridFourOverFlow>* {
    scroll-snap-align: start;
  }
}

/* ---------- */

.frameReading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8px calc((100% - 1200px) / 2);
  position: relative;
}

html[data-theme="dark"] .frameReading.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 13, 0.8);
  z-index: 1;
}

html[data-theme="light"] .frameReading.darkened::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 236, 242, 0.8);
  z-index: 1;
}

/* ---------- */

.otherArticles {
  padding: 0 calc((100% - 1200px) / 2);
}

@media (max-width: 1200px) {
  .otherArticles {
    padding: 0 5%;
  }
}

/* ---------- */

.aboutMeSection i {
  filter: drop-shadow(0 5px 5px var(--primary-500));
}

/* ---------- */

.article {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: flex-start;
}

.frameFlexColumnExtraLarge.pageHeaderContainer {
  width: 100%;
}

.frameFlexColumnLarge.pageHeaderContainer {
  width: 100%;
}

.frameFlexColumnSmall.lateralPadding {
  margin: 0 auto;
  padding: 0 calc((100% - 1200px) / 2);
  width: 100%;
  display: block;
}

/* ---------- */

.padding {
  padding: 0px calc((100% - 1200px) / 2);
}

@media (max-width: 1200px) {
  .padding {
    padding: 0 5%;
  }
}

/* ---------- */

.pageHeader {
  display: flex;
  padding: 2rem calc((100% - 1200px) / 2);
  align-items: center;
  background: linear-gradient(to left, var(--primary-500), var(--secondary-500));
}

.pageHeader p {
  font-family: var(--font-family-2);
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 5px;
  text-align: start;
}

/* ---------- */

.articleBody {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 0px calc((100% - 1200px) / 2);
}

.articleBodyContent {
  flex: 0 0 900px;
  padding-top: 1rem;
}

/* ---------- */

.articleTip {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  padding: 1rem;
}


@media (max-width: 1200px) {
  .article {
    gap: 0rem;
  }

  .frameFlexColumnSmall.lateralPadding {
    padding: 0 5%;
  }

  .pageHeader {
    padding: 2rem 5%;
  }

  .pageHeader p {
    font-size: 1.5rem;
    letter-spacing: 5px;
  }

  .articleBody {
    flex-direction: column-reverse;
    gap: 0;
  }

  .articleBodyContent {
    flex: 1;
    margin-right: 0;
    padding: 0px 5%;
    padding-top: 1rem;
  }
}

/* ---------- */

.articleInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px calc((100% - 1200px) / 2);
}

@media (max-width: 1200px) {
  .articleInfo {
    padding: 0 5%;
    grid-template-rows: 1fr .5fr;
  }
}

.articleInfoOne {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-right: 0.5px solid var(--neutral-600);
  border-bottom: 0.5px solid var(--neutral-600);
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.articleInfoTwo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 0.5px solid var(--neutral-600);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.articleInfoThree {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-right: 0.5px solid var(--neutral-600);
  padding-right: 1rem;
  padding-top: 1rem;
}

.articleInfoFour {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 1rem;
  padding-top: 1rem;
}

.articleInfoFour>.frameFlexColumnSmall:first-of-type {
  border-right: 0.5px solid var(--neutral-600);
}

/* ----- TABLE ----- */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

th,
td {
  padding: .5rem 1rem;
  text-align: left;
}

th {
  border-top: 0.5px solid var(--neutral-600);
  border-bottom: 0.5px solid var(--neutral-600);
}

.tableCircle {
  width: 12px;
  height: 12px;
  border-radius: 100px;
}

tr:nth-of-type(2n) {
  background-color: var(--neutral-900);
}

@media (max-width: 1200px) {
  .tableCircle {
    width: 8px;
    height: 8px;
  }

  th {
    display: none;
  }

  td {
    display: grid;
    grid-template-columns: 15ch auto;
    gap: 1rem;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  td::before {
    content: attr(data-cell) ": ";
  }
}

.tableCircleGreen {
  background-color: var(--green-500);
}

.tableCircleYellow {
  background-color: var(--yellow-500);
}

.tableCircleRed {
  background-color: var(--red-500);
}


/* ----- TABLE OF CONTENT ----- */

@media (max-width: 1200px) {
  .section {
    scroll-margin-top: 150px;
  }
}

.tableOfContent {
  display: flex;
  flex-direction: column;
  position: sticky;
  flex: 1;
  top: 4.25rem;
  background: var(--neutral-1000);
  width: 100%;
  max-width: 100vw;
  padding: 1rem 0;
}

.TOCContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 1200px) {

  .tableOfContent {
    top: 3.25rem;
    padding: 1.5rem 5%;
  }

  .TOCContent {
    overflow-x: auto;
    flex-direction: row;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 2rem;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .TOCContent>* {
    scroll-snap-align: start;
  }
}

.tableOfContent .small {
  padding: .25rem 1rem;
}

.tableOfContent .TOCContent>* {
  padding: .25rem 1rem;
  border-radius: var(--br);
  cursor: pointer;
}

.tableOfContent .TOCContent>*:hover {
  background: var(--neutral-900);
}

.tableOfContent .TOCContent>*.active {
  color: var(--primary-500);
  border: 0.25px solid var(--neutral-600);
}

/* ----- BUTTONS ----- */

.switcherContainer {
  background: var(--neutral-900);
  border-radius: 100px;
  position: relative;
  display: inline-block;
  align-items: center;
  min-width: fit-content;
  gap: 12px;
  padding: 2px 4px;
}

.switcherContainer input {
  display: none;
}

.switcherContainer label {
  display: block;
  padding: 2px 4px;
  border-radius: 100px;
  cursor: pointer;
}

.switcherContainer label.active {
  background: var(--neutral-1000);
  color: var(--primary-500);
}

/* ---------- */

.mobileNavToggle .hamburgerLine {
  transition:
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;

  transform-origin: center;
}

.mobileNavToggle[aria-expanded="true"] .hamburgerLine {
  transition:
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
}

.mobileNavToggle[aria-expanded="true"] :is(.topLine, .bottomLine) {
  y: 45;
}

.mobileNavToggle[aria-expanded="true"] .topLine {
  rotate: 45deg;
}

.mobileNavToggle[aria-expanded="true"] .middleLine {
  opacity: 0;
}

.mobileNavToggle[aria-expanded="true"] .bottomLine {
  rotate: -45deg;
}

.scroll-top {
  position: fixed;
  z-index: 50;
  padding: 0;
  right: 2rem;
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  background-color: var(--neutral-1000);
}

.scroll-top:hover {
  background: var(--neutral-900);
}


.scroll-top .icon-tabler-arrow-up {
  position: absolute;
  stroke-width: 2px;
  stroke: var(--neutral-200);
}

.scroll-top {
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
}

.scroll-top.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-top svg path {
  fill: none;
}

.scroll-top svg.progress-circle path {
  stroke: var(--primary-500);
  stroke-width: 4;
  transition: all 0.4s ease;
}

/* ---------- */

.buttonPrimary {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  border-radius: var(--br);
  background: var(--primary-500);
  width: fit-content;
  min-width: 148px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: transform .3s cubic-bezier(.62, -1.12, .53, 1.92);
}

.buttonPrimary p {
  color: var(--primary-1000);
}

.buttonPrimary i,
.buttonSecondary i {
  color: var(--neutral-1000);
}

.buttonPrimary:hover {
  background: var(--primary-400);
}

.buttonPrimary:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

/* ---------- */

.buttonSecondary {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  background: var(--neutral-1000);
  min-width: 148px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: transform .3s cubic-bezier(.62, -1.12, .53, 1.92);
  width: fit-content;
}

.buttonSecondary i {
  font-size: 16px;
  color: var(--neutral-100);
}

@media (max-width: 1200px) {
  .buttonSecondary i {
    font-size: 12px;
  }
}

.buttonSecondary:hover {
  background: var(--neutral-900);
}

.buttonSecondary:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

/* ---------- */

.buttonTerciary {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: var(--br);
  background: var(--neutral-1000);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.buttonTerciary p {
  text-align: center;
  min-width: auto;
}

.buttonTerciary i {
  text-align: center;
  min-width: auto;
  color: var(--neutral-100);
  font-size: 16px;
}

@media (max-width: 1200px) {
  .buttonTerciary i {
    font-size: 12px;
  }
}

.buttonTerciary:hover {
  background: var(--neutral-900);
}

.buttonTerciary:active {
  transform: scale(0.95);
}

/* ---------- */

.buttonIcon {
  padding: .5rem;
  border-radius: var(--br);
  width: fit-content;
  margin-top: auto;
  color: var(--neutral-200);
  border-radius: var(--br);
  cursor: pointer;
  transition: transform .3s cubic-bezier(.62, -1.12, .53, 1.92);
}

.buttonIcon:hover {
  background: var(--neutral-900);
}

.buttonIcon:active {
  transform: scale(0.90);
}

/* ---------- */

.buttonTab {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
}

.buttonTabComponent.active p {
  color: var(--neutral-900);
}

.buttonTabComponent {
  display: flex;
  padding: 8px 16px;
  border-radius: var(--br);
  cursor: pointer;
}

.buttonTabComponent:hover {
  background: var(--neutral-900);
}

.buttonTabComponent.active {
  background: var(--neutral-100);
}

/* ---------- */

.link {
  width: fit-content;
  background-image: linear-gradient(90deg, var(--primary-500), var(--primary-600));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left 1.4em;
  transition: background-size 0.2s;
  font-style: italic;
}

.link:hover,
.link:focus {
  background-size: 100% 2px;
}

span.link {
  color: var(--primary-500);
}

/* ----- BUTTONIMAGE ----- */

.buttonImage {
  display: block;
  opacity: 0;
  visibility: hidden;
  padding: .5rem 1rem;
  border-radius: var(--br);
  background: var(--neutral-200);
  color: var(--neutral-900);
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 95;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.buttonImage:hover {
  background: var(--primary-500);
  color: var(--neutral-1000);
}

@media (max-width: 1200px) {

  .buttonImage {
    display: none;
  }
}

/* ----- TAGS ----- */

.tagPosition {
  padding: 8px 16px;
  background: linear-gradient(to left, var(--primary-500), var(--secondary-500));
  width: fit-content;
  height: fit-content;
}

.tagPosition p {
  font-family: var(--font-family-2);
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 1200px) {

  .tag,
  .tagNew {
    padding: 2px 4px;
  }
}

.tag {
  display: flex;
  border-radius: var(--br);
  padding: 2px 4px;
  background: var(--neutral-700);
  width: fit-content;
}

.tag p {
  color: var(--neutral-200);
}

.tagNew {
  display: flex;
  border-radius: var(--br);
  padding: 2px 4px;
  background: var(--primary-800);
  width: fit-content;
}

.tagNew p {
  color: var(--primary-500);
}

/* ----- CONTACT FORM ----- */

.contactForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 2rem;
  border-radius: var(--br);
  background: var(--neutral-1000);
  border: 0.5px solid var(--neutral-600);
  z-index: 100;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99;
  display: none;
}

.contactFormBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

}

.contactInput {
  width: 100%;
  height: 3rem;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  padding-left: 1rem;
}

.contactInput:focus {
  border: 1px solid var(--neutral-200);
}

.contactInput::placeholder {
  color: var(--neutral-400);
}

.contactFormBody textarea {
  height: 6rem;
  padding-top: 1rem;
}

.buttonClose {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: var(--br);
  padding: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.buttonClose:hover {
  background: var(--neutral-900);
}

.contactFormBody .buttonClose {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.contactForm.hidden {
  display: none;
}

.contactForm.open {
  display: block;
}

.overlay.show {
  display: block;
}

body.no-scroll {
  overflow: hidden;
}


@media (max-width: 1200px) {

  .contactForm {
    width: 90svw;
  }

  .contactInput {
    height: 2rem;
  }

  .contactFormBody textarea {
    height: 6rem;
  }

  .buttonClose {
    width: 20px;
    height: 20px;
    padding: 1rem;
  }
}

/* ----- CARDS ----- */

.cardProject,
.cardArticle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-block-start: .25rem solid;
  padding-block-start: .5rem;
  border-image-source: linear-gradient(to left, var(--primary-500), var(--secondary-500));
  border-image-slice: 1;
}

.cardProject:hover .buttonImage,
.cardArticle:hover .buttonImage {
  opacity: 1;
  visibility: visible;
}

.cardProjectImageContainer {
  overflow: hidden;
}

.cardProject::after,
.cardArticle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
  transition: background 0.3s ease;
}

.cardProject:hover::after,
.cardArticle:hover::after {
  background: rgba(12, 12, 13, .75);
}

.cardProjectImageContainer .cardProjectImage,
.cardReadingImageContainer .cardReadingImage {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s transform ease-in-out;
}

.cardProject:hover .cardProjectImageContainer .cardProjectImage,
.cardReading:hover .cardReadingImageContainer .cardReadingImage {
  transform: scale(1.05);
}

/* ---------- */

.cardTextIcon {
  display: flex;
  padding: 16px;
  background: var(--neutral-1000);
  border: 0.5px solid var(--neutral-600);
  border-radius: var(--br);
  gap: 16px;
  align-items: center;
}

/* ---------- */

.cardTestimonial {
  display: Flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.125rem;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  background: var(--neutral-1000);
}

.gridThreeOverFlow .cardTestimonial:first-child {
  grid-column: span 2;
}

.cardTestimonial .frameFlexSmall {
  padding: 1rem;
  background: var(--neutral-900);
  border-radius: var(--br);
}

.cardTestimonial .padding {
  padding: 1rem;
}


@media (max-width: 1200px) {
  .cardTestimonial:first-child {
    grid-column: auto;
  }
}

/* ---------- */

.cardReading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0.25rem;
  border-radius: var(--br);
  border-bottom: 0.5px solid var(--neutral-600);
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
}

.cardReadingInfo {
  width: 100%;
  display: none;
}

.cardReading.active {
  padding: 1rem;
  border: 0.5px solid var(--neutral-600);
  z-index: 2;
}

.cardReading.active .buttonInfo {
  display: none;
}

.cardReadingInfo.active {
  display: block;
}

.cardReading:last-child {
  border-bottom: none;
}

.cardReadingImageContainer {
  border-radius: var(--br);
  overflow: hidden;
  height: 48px;
  width: 48px;
}

.cardReadingHeader {
  display: flex;
  align-items: center;
}

.cardReading .frameFlexSmall {
  align-items: flex-start;
  width: 100%;
}

.cardReading .buttonInfo {
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  padding: .5rem 1rem;
  height: fit-content;
  display: block;
  background: var(--neutral-1000);
}

.cardReading .buttonInfo:hover {
  background: var(--neutral-900);
}

/* ---------- */

.cardExperience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--neutral-600);
}

.cardExperience .frameFlexSmall {
  align-items: flex-start;
}

/* ---------- */

.cardEducation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardEducation .buttonSecondary {
  width: fit-content;
}

/* ---------- */

.cardInsight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  padding: 1rem;
}

/* ---------- */

.cardComponentGray {
  display: block;
  padding: 0.5rem;
  border: 2px dashed var(--neutral-600);
  border-radius: var(--br);
}

/* ---------- */

.cardTypography {
  width: 100%;
}

/* ---------- */

.cardColor {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.colorRectangle {
  width: 48px;
  height: 48px;
  border-radius: var(--br);
}

@media (max-width: 1200px) {
  .colorRectangle {
    width: 36px;
    height: 36px;
    border-radius: var(--br);
  }
}

.colorRectangle1 {
  background: var(--primary-100);
}

.colorRectangle2 {
  background: var(--primary-200);
}

.colorRectangle3 {
  background: var(--primary-300);
}

.colorRectangle4 {
  background: var(--primary-400);
}

.colorRectangle5 {
  background: var(--primary-500);
}

.colorRectangle6 {
  background: var(--primary-600);
}

.colorRectangle7 {
  background: var(--primary-700);
}

.colorRectangle8 {
  background: var(--primary-800);
}

.colorRectangle9 {
  background: var(--primary-900);
}

.colorRectangle10 {
  background: var(--primary-1000);
}

.colorRectangle11 {
  background: var(--secondary-100);
}

.colorRectangle12 {
  background: var(--secondary-200);
}

.colorRectangle13 {
  background: var(--secondary-300);
}

.colorRectangle14 {
  background: var(--secondary-400);
}

.colorRectangle15 {
  background: var(--secondary-500);
}

.colorRectangle16 {
  background: var(--secondary-600);
}

.colorRectangle17 {
  background: var(--secondary-700);
}

.colorRectangle18 {
  background: var(--secondary-800);
}

.colorRectangle19 {
  background: var(--secondary-900);
}

.colorRectangle20 {
  background: var(--secondary-1000);
}

.colorRectangle21 {
  background: var(--neutral-100);
}

.colorRectangle22 {
  background: var(--neutral-200);
}

.colorRectangle23 {
  background: var(--neutral-300);
}

.colorRectangle24 {
  background: var(--neutral-400);
}

.colorRectangle25 {
  background: var(--neutral-500);
}

.colorRectangle26 {
  background: var(--neutral-600);
}

.colorRectangle27 {
  background: var(--neutral-700);
}

.colorRectangle28 {
  background: var(--neutral-800);
}

.colorRectangle29 {
  background: var(--neutral-900);
}

.colorRectangle30 {
  background: var(--neutral-1000);
}

.colorRectangle31 {
  background: linear-gradient(to left, var(--primary-500), var(--secondary-500));
}

.colorRectangle32 {
  background: #FF0A44;
}

.colorRectangle33 {
  background: #FF800A;
}

/* ---------- */

.cardQuestion {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--br);
  border: 0.5px solid var(--neutral-600);
  align-items: center;
  width: 100%;
}

/* ---------- */

.cardCompetitor {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 0.5px solid var(--neutral-600);
  border-radius: var(--br);
  align-items: center;
}

.cardCompetitor img {
  border-radius: var(--br);
}

/* ---------- */

.cardUserJourney {
  display: flex;
  width: 100%;  
  border-radius: var(--br);
  height: 96px;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.cardUserJourneyGreen {
  border: 0.25px solid var(--green-400);
}

.cardUserJourney p{
  display: flex;
  padding: 0.25rem 0.5rem;  
  border-radius: var(--br);
  font-weight: 700;
}

.cardUserJourneyGreen p{  
  background: var(--green-400);
  color: var(--green-1000);  
}

.cardUserJourneyYellow p{  
  background: var(--yellow-400);
  color: var(--yellow-1000);  
}

.cardUserJourneyRed p{  
  background: var(--red-400);
  color: var(--red-1000);  
}

.cardUserJourneyYellow {
  border: 0.25px solid var(--yellow-400);
}

.cardUserJourneyRed {
  border: 0.25px solid var(--red-400);
}

/* ---------- */

.inputField {
  width: 148px;
  height: 36px;
  border: 0.5px solid var(--neutral-600);
  border-radius: var(--br);
}

.inputFieldOne {
  border: 2px solid var(--white);
}

/* ----- NAVIGATION ----- */

.navBarContainer {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 8px calc((100% - 1200px) / 2);
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--neutral-600);
  background-color: var(--neutral-1000);
  z-index: 90;
  top: 0;
}

.navBarContainer a .logo,
.navBarContainer .mobileNavToggle {
  position: relative;
  z-index: 99;
}

.menuButton {
  display: none;
}

.switcherContainer {
  display: flex;
  gap: 1rem;
}

.switcherContainer .frameFlexColumnTiny {
  align-items: flex-start;
}

.mobileNavToggle {
  display: none;
}

.navBarNavigation {
  display: flex;
  gap: 4rem;
}

.navBarFrameNavigation {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navBarFrameLink {
  font-size: 1rem;
  font-weight: 700;
  color: var(--neutral-200);
  padding: 0.5rem;
  border-radius: var(--br);
  cursor: pointer;
  letter-spacing: .075rem;
  height: fit-content;
}

.navBarFrameLink:hover,
.navBarFrameLink:focus {
  background: var(--neutral-900);
}

.navBarFrameLink.active {
  color: var(--primary-500);
}

.opened {
  display: block;
  position: fixed;
}

.mobileNavigation {
  display: none;
}

@media (max-width: 1200px) {

  .desktopNavigation {
    display: none;
  }

  .navBarFrameNavigation {
    flex-direction: column;
  }

  .navBarContainer {
    padding: 8px 5%;
  }

  .menuButton {
    display: block;
  }

  .mobileNavigation {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    background: var(--neutral-1000);
    width: 100%;
    min-height: 100vh;

    transition: left 1s ease-in-out;
    z-index: 98;
  }

  .mobileNavigation .frameFlexColumnExtraLarge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 5% 5%;
    min-height: 100%;
    min-width: 100%;
  }

  .mobileNavigation .frameFlexColumnExtraLarge .frameFlexPaddingBottom {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: .5rem;
    border-bottom: 0.25px solid var(--neutral-600);
  }

  .mobileNavigation .frameFlexColumnLargePadding {
    padding-bottom: .5rem;
    border-bottom: 0.25px solid var(--neutral-600);
  }

  .mobileNavigation .frameFlexColumnExtraLarge .frameFlexColumnLarge p {
    width: 100%;
  }

  .frameFlexPaddingBottom.active p {
    color: var(--primary-500)
  }

  .frameFlexPaddingBottom input.languageSwitcher:before,
  .frameFlexPaddingBottom input.themeSwitcher:after {
    font-size: 1.5rem;
  }

  .mobileNavigation[data-visible] {
    display: block;
    left: 0;
  }

  .mobileNavToggle {
    display: block;
    cursor: pointer;
    border: 0;

  }

  .hideOnDesktop {
    display: flex;
  }

  h4.hideOnDesktop {
    display: block;
  }
}

/* ---------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px calc((100% - 1200px) / 2);
  gap: 2rem;
  border-top: 0.5px solid var(--neutral-600);
}

footer .frameFlexColumnSmall {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--neutral-600);
  min-width: 100%;
}

@media (max-width: 1200px) {
  footer {
    padding: 1rem;
    gap: 1rem;
  }
}

/* ----- HEADER ----- */

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .sectionHeader {
    gap: .25rem;
  }
}

.subSubsection {
  width: 100%;
  padding: 0px 0px 8px 0px;
  border-bottom: 0.5px solid var(--neutral-600);
}

/* ----- SCROLLER ----- */

.scroller {
  max-width: 1200px;
}

.scrollerInner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scrollerInner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 240s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* ----- SCROLLBAR ----- */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--neutral-1000);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-500);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-500);
}

@supports (scrollbar-color: red blue) {
  body {
    /* O otro elemento específico en lugar de '*' */
    scrollbar-color: var(--neutral-200) var(--neutral-1000);
    scrollbar-width: thin;
  }
}

/* ----- SELECTION ----- */

::selection {
  background-color: var(--primary-500);
  color: var(--primary-1000);
}

/* ----- PRELOADING PROGRESS BAR ----- */


/* ----- IMAGES ----- */

.logo {
  fill: var(--primary-500);
}


.logo:hover {
  fill: var(--primary-400);
}

/* ---------- */

@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(-5deg) scale(1.05);
  }
}

.mainHeroImageContainer {
  background: linear-gradient(to left, var(--primary-500), var(--secondary-500));
  padding: .25rem;
  border-radius: var(--br);
  aspect-ratio: 1;
  width: 16rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHeroImage {
  object-fit: contain;
  border-radius: var(--br);
  animation: rotateAndScale 2s forwards;
  /* 2s duration, play once */
}

@media (max-width: 1200px) {
  .mainHeroImage {
    width: min(100%, 16rem);
  }
}

/* ---------- */

.imageExtraLarge {
  width: 48px;
  height: 48px;
}

@media (max-width: 1200px) {
  .imageExtraLarge {
    width: 36px;
    height: 36px;
  }
}

.imageLarge {
  width: 36px;
  height: 36px;
}

@media (max-width: 1200px) {
  .imageLarge {
    width: 24px;
    height: 24px;
  }
}

.imageMedium {
  width: 24px;
  height: 24px;
}

@media (max-width: 1200px) {
  .imageMedium {
    width: 20px;
    height: 20px;
  }
}

.imageSmall {
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  .imageSmall {
    width: 16px;
    height: 16px;
  }
}

.imageTiny {
  width: 16px;
  height: 16px;
}

@media (max-width: 1200px) {
  .imageTiny {
    width: 12px;
    height: 12px;
  }
}

.projectImageContainer {
  width: 100%;
  padding: 0px calc((100% - 1200px) / 2);
}

@media (max-width: 1200px) {
  .projectImageContainer {
    padding: 0px 5%;
  }
}

/* ---------- */

.mobileFrame img {
  width: 75%;
  height: auto;
  display: block;
  inset: 0;
  margin: auto;
}

@media (max-width: 1200px) {
  .mobileFrame img {
    width: 100%;
  }
}

/* ---------- */

.aboutGallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: fit-content;
  gap: 1rem;
  position: relative;
}

.aboutGalleryImage {
  overflow: hidden;
  transition: 0.2s transform ease-in-out;
}

.aboutGalleryImage img {
  aspect-ratio: 1;
  object-fit: cover;
  filter: brightness(75%) saturate(75%);
  border-radius: var(--br);
  transition: transform 0.2s ease-in-out;
}

.aboutGalleryImage:hover img {
  transform: scale(1.05);
  filter: brightness(100%) saturate(100%);
}

/* ---------- */

.userStoryMap {
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 1fr));
  grid-template-rows: repeat(5, minmax(60px, 1fr));
  gap: .5rem;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.userStoryMapItemSpecial {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: var(--br);
  border-left: 0.5px solid var(--primary-500);
  border-right: 0.5px solid var(--primary-500);
  border-bottom: 0.5px solid var(--primary-500);
  border-top: 2px solid var(--primary-500);
  box-sizing: border-box;
}

.userStoryMapItem {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: var(--br);
  border-left: 0.5px solid var(--neutral-600);
  border-right: 0.5px solid var(--neutral-600);
  border-bottom: 0.5px solid var(--neutral-600);
  border-top: 2px solid var(--neutral-600);
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  flex: 1;
  height: 112px;
}

/* ----- ICONS ----- */

.iconExtraLarge {
  font-size: 48px;
}

@media (max-width: 1200px) {
  .iconExtraLarge {
    font-size: 36px;
  }
}

.iconLarge {
  font-size: 36px;
}

@media (max-width: 1200px) {
  .iconLarge {
    font-size: 24px;
  }
}

.iconMedium {
  font-size: 24px;
}

@media (max-width: 1200px) {
  .iconMedium {
    font-size: 20px;
  }
}

.iconSmall {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .iconSmall {
    font-size: 16px;
  }
}

.iconTiny {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .iconTiny {
    font-size: 12px;
  }
}

/* ---------- */

.iconContainer {
  display: block;
  border-radius: var(--br);
  border: 2px dashed var(--neutral-600);
  width: fit-content;
  padding: .5rem;
}

.componentContainer {
  display: block;
  border-radius: var(--br);
  border: 2px dashed var(--component);
  width: fit-content;
  padding: .5rem;
}

.someDesignsImageContainer {
  flex: 1;
  max-height: 580px;

}

.someDesignsImageContainer img {
  max-width: 280px;
  inset: 0;
  margin: auto;
}

/* ----- TEST ----- */