@import url('variables.css');

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--neutral-900);
  color: var(--neutral-200);
}

h1 {
  font-family: var(--font-family);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: 900;
  letter-spacing: 0;
  color: var(--white);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  font-weight: 800;
  letter-spacing: 0;
  color: var(--white);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  font-weight: 700;
  letter-spacing: 0;
  color: var(--white);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: 700;
  letter-spacing: 0;
  color: var(--white);
}

.large,
caption {
  font-size: var(--fs-large);
  line-height: var(--lh-large);
  font-weight: 700;
  letter-spacing: 0;
  color: var(--white);
}

.regular-bold {
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
  font-weight: 600;
  letter-spacing: 0.025rem;
  color: var(--white);
}

.regular {
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--neutral-300);
}

.regular-red {
  color: var(--red-500);
}

.small-bold {
  font-size: var(--fs-small);
  line-height: var(--lh-small);
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: var(--neutral-300);
}

.small {
  font-size: var(--fs-small);
  line-height: var(--lh-small);
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: var(--neutral-500);
}

b {
  color: var(--white);
}

.cardFont {
  font-size: .75rem;
  line-height: .75rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: var(--neutral-500);
}

@media (max-width: 1200px) {

  .cardFont {
    font-size: .6rem;
    line-height: .8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: var(--neutral-500);
  }
}