:root {
  /* typography */
  --font-family: "Montserrat";
  --font-family-2: "Bungee Shade", sans-serif;

  /* font-size */
  --fs-h1: 3.25rem;
  --fs-h2: 2.5rem;
  --fs-h3: 2rem;
  --fs-h4: 1.5rem;
  --fs-large: 1.15rem;
  --fs-regular: 0.95rem;
  --fs-small: 0.75rem;

  /* line-height */
  --lh-h1: 4.2rem;
  --lh-h2: 3.2rem;
  --lh-h3: 2.4rem;
  --lh-h4: 2.1rem;
  --lh-large: 1.5rem;
  --lh-regular: 1.6rem;
  --lh-small: 1.2rem;

  /* border-radius */
  --br: 4px;

  /* border-width */
  --bw-0: 0.05rem;
  --bw-1: 1px;

  /* content */
  --contentMaxWidth: 55rem;
}

/* Tema Claro */
:root[data-theme="light"] {
  /* black */
  --black: rgba(0, 0, 0, 1);
  --black-100: rgba(0, 0, 0, 0.9);
  --black-200: rgba(0, 0, 0, 0.8);
  --black-300: rgba(0, 0, 0, 0.7);
  --black-400: rgba(0, 0, 0, 0.6);

  /* white */
  --white: rgba(255, 255, 255, 1);
  --white-100: rgba(0, 0, 0, 0.02);
  --white-200: rgba(0, 0, 0, 0.04);
  --white-300: rgba(0, 0, 0, 0.08);
  --white-400: rgba(0, 0, 0, 0.12);
  --white-500: rgba(0, 0, 0, 0.18);

  /* primary */
  --primary: rgba(255, 149, 0, 0.07);
  --primary-100: rgba(255, 149, 0, 0.14);
  --primary-200: rgba(255, 149, 0, 0.28);
  --primary-300: rgba(255, 149, 0, 1);
  --primary-400: rgba(204, 119, 0, 1);
  --primary-500: rgba(179, 104, 0, 1);

  /* gray */
  --gray: rgba(102, 102, 102, 1);
  --gray-100: rgba(136, 136, 136, 1); 
  --gray-200: rgba(250, 250, 250, 1);  

  /* rojo */
  --red: rgba(220, 0, 0, 1);

  /* verde */
  --green: rgba(0, 222, 7, 1);

  /* amarillo */
  --yellow: rgb(255, 238, 0);

  /* azul */
  --blue: rgb(0, 66, 231);
  
  /* elevation */
  --elevationDefault: 0 0.125rem 1.3rem 0.3rem rgba(0, 0, 0, 0.125);
}

/* Tema Oscuro */
:root[data-theme="dark"] {
  /* black → blanco */
  --black: rgba(255, 255, 255, 1);
  --black-100: rgba(255, 255, 255, 0.9);
  --black-200: rgba(255, 255, 255, 0.8);
  --black-300: rgba(255, 255, 255, 0.7);
  --black-400: rgba(255, 255, 255, 0.6);

  /* white → negro translúcido */
  --white: rgba(0, 0, 0, 1);
  --white-100: rgba(255, 255, 255, 0.02);
  --white-200: rgba(255, 255, 255, 0.04);
  --white-300: rgba(255, 255, 255, 0.08);
  --white-400: rgba(255, 255, 255, 0.12);
  --white-500: rgba(255, 255, 255, 0.18);

  /* primary → más vivos en dark */
  --primary: rgba(255, 149, 0, 0.07);
  --primary-100: rgba(255, 149, 0, 0.14);
  --primary-200: rgba(255, 149, 0, 0.28);
  --primary-300: rgba(255, 149, 0, 1);
  --primary-400: rgba(204, 119, 0, 1);
  --primary-500: rgba(179, 104, 0, 1); 
  
  /* gray */
  --gray: rgb(182, 182, 182);
  --gray-100: rgba(102, 102, 102, 1);
  --gray-200: rgba(5, 5, 5, 1);
  
  /* rojo */
  --red: rgba(255, 28, 28, 1);

  /* verde */
  --green: rgba(26, 255, 34, 1);

  /* amarillo */
  --yellow: rgb(255, 224, 24);

  /* azul */
  --blue: rgb(17, 84, 255);
}

@media (max-width: 1200px) {
  :root {
    /* font-size */
    --fs-h1: 2.2rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.6rem;
    --fs-h4: 1.3rem;
    --fs-large: 1.1rem;
    --fs-regular: 0.85rem;
    --fs-small: 0.6rem;

    /* line-height */
    --lh-h1: 3.2rem;
    --lh-h2: 3rem;
    --lh-h3: 2rem;
    --lh-h4: 1.6rem;
    --lh-large: 1.5rem;
    --lh-regular: 1.4rem;
    --lh-small: 1.125rem;

    /* elevation */
    --elevationDefault: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
    --elevationHover: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

/* 900 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* 800 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 600 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* 500 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* 400 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 300 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* 200 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Extra-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
