:root {
  /* typography */
  --font-family: "Montserrat";
  --font-family-2: "Bungee Shade", sans-serif;

  /* font-size */
  --fs-h1: 3.25rem;
  --fs-h2: 2.5rem;
  --fs-h3: 2rem;
  --fs-h4: 1.5rem;
  --fs-large: 1.15rem;
  --fs-regular: 0.95rem;
  --fs-small: 0.75rem;

  /* line-height */
  --lh-h1: 4.2rem;
  --lh-h2: 3.2rem;
  --lh-h3: 2.4rem;
  --lh-h4: 2.1rem;
  --lh-large: 1.5rem;
  --lh-regular: 1.6rem;
  --lh-small: 1.2rem;

  /* border-radius */
  --br: 4px;

  /* border-width */
  --bw-0: 0.05rem;
  --bw-1: 1px;

  /* black */
  --black: rgba(0, 0, 0, 1);
  --black-100: rgba(0, 0, 0, 0.9);
  --black-200: rgba(0, 0, 0, 0.6);
  --black-300: rgba(0, 0, 0, 0.5);

  /* white */
  --white: rgba(255, 255, 255, 1);
  --white-100: rgba(0, 0, 0, 0.015);
  --white-200: rgba(0, 0, 0, 0.025);
  --white-300: rgba(0, 0, 0, 0.05);
  --white-400: rgba(0, 0, 0, 0.075);
  --white-500: rgba(0, 0, 0, 0.14);

  /* primary */
  --primary: rgba(0, 122, 255, 0.1);
  --primary-100: rgba(0, 122, 255, 0.2);
  --primary-200: rgba(0, 122, 255, 1);
  --primary-300: rgba(0, 96, 201, 1);
  --primary-400: rgba(0, 86, 179, 1);

  /* light */
  --light: rgba(235, 240, 245, 1);
  --light-100: rgba(217, 224, 230, 1);

  /* elevation */
  --elevationDefault: 0 0.1rem 1.25rem 0.25rem rgba(0, 0, 0, 0.1);
  --elevationHover: 0 0.125rem 1.75rem 0.5rem rgba(0, 0, 0, 0.15);

  /* content */
  --contentMaxWidth: 55rem;
}

@media (max-width: 1200px) {
  :root {
    /* font-size */
    --fs-h1: 2.2rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.6rem;
    --fs-h4: 1.3rem;
    --fs-large: 1.1rem;
    --fs-regular: 0.85rem;
    --fs-small: 0.6rem;

    /* line-height */
    --lh-h1: 3.2rem;
    --lh-h2: 3rem;
    --lh-h3: 2rem;
    --lh-h4: 1.6rem;
    --lh-large: 1.5rem;
    --lh-regular: 1.4rem;
    --lh-small: 1.125rem;

    /* elevation */
    --elevationDefault: 0 2px 8px 2px rgba(0, 0, 0, 0.08);
    --elevationHover: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

/* 900 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* 800 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* 600 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* 500 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* 400 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 300 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* 200 */
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/static/Montserrat-Extra-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
