<!-- [contactForm] -->
<div class="overlay hidden"></div>
<div class="contactForm hidden">
  <form action="https://api.web3forms.com/submit" method="POST" class="contactFormBody">

    <button type="button" class="buttonClose" id="closeContactForm"><i class="fa-solid fa-xmark iconMedium"
        aria-hidden="true"></i></button>
    <p data-key="contactFormTitle" class="large"></p>
    <p data-key="contactFormText" class="regular"></p>    
    <input type="hidden" name="access_key" value="a698f320-b8cf-4911-b13b-aaa1297e57b0">
    <div class="frameFlexColumnSmall">
      <p data-key="contactFormName" class="small"></p>
      <input type="name" name="name" class="contactInput" required>
    </div>
    <div class="frameFlexColumnSmall">
      <p data-key="contactFormEmail" class="small"></p>
      <input type="email" name="name" class="contactInput" required>
    </div>
    <div class="frameFlexColumnSmall">
      <p data-key="contactFormMessage" class="small"></p>
      <textarea type="message" name="message" class="contactInput" required></textarea>
    </div>

    <button type="submit" class="buttonPrimary">
      <p data-key="contactFormButton" class="regular-bold"></p>
    </button>
  </form>
</div>